/.idea/AI-Hackathon.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
dash/components/__pycache__/navbar.cpython-310.pyc
flask/__pycache__/*
dash/__pycache__/*
flask/classes/__pycache__/*
