<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ChatQuest</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar bg-dark" data-bs-theme="dark">
      <div class="row justify-content-center">
        <div class="col">
          <h2>ChatQuest</h2>
        </div>
      </div>
    </nav>

   <div class="container mt-5">
	   <form action="/play" method="get">

		   <div class="row justify-content-center">
			   <div class="btn-group btn-group-toggle" data-toggle="buttons">
				   {% for game_option in game_options %}
						<label class="col-3 col-md-3 btn btn-light">
						   <input type="radio" name="game_option" value="{{ game_option }}" autocomplete="off"> {{ game_options[game_option] }}
					   </label>
				  {% endfor %}

			   </div>
		   </div>
			<div class="row justify-content-center mt-2">
				<div class="col">
					<button class="btn btn-primary" type="submit" >Play the game</button>
				</div>
			</div>
	   </form>

   </div>

  </body>
</html>
